@page "/"
<div class="container">
    <h1 class="text-primary text-muted text-center me-3">What to eat</h1>
    <div class="container-fluid">

        @foreach (var day in Enum.GetValues<Days>())
        {
            <div class="row justify-content-center">
                <div class="col-sm-12 my-3" style="max-width: 520px;">
                    <DayCard Day=day />
                </div>
            </div>
        }
    </div>
</div>
