<div class="modal modal-backdrop bg-dark bg-opacity-75" style="display: block;" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close" aria-label="Close"
                    @onclick="() => Result.InvokeAsync(false)"></button>
            </div>
            <div class="modal-body">
                <p>@Question</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="() => Result.InvokeAsync(true)">Yes</button>
                <button type="button" class="btn btn-primary" @onclick="() => Result.InvokeAsync(false)">No</button>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string Question { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<bool> Result { get; set; }
}